---
import { Briefcase, Gavel, HandCoins, Scale, ShoppingCart, Users } from "@lucide/astro";
import ServicesCard from "./ServicesCard.astro";
---

<section
  id="services"
  class="md:p-10 p-5 font-[Inter] flex justify-center items-center m-auto bg-[#DFE0E0] w-full"
>
  <div
    class="md:p-10 p-5 gap-5 flex flex-col w-full justify-center items-center m-auto xl:w-[1440px]"
  >
    <div class="text-center flex flex-col gap-[5px]">
      <h3 class="text-base md:text-lg uppercase font-bold text-[#D7AA67]">
        Conheça Nossos Serviços
      </h3>
      <h2 class="text-3xl font-bold md:text-4xl text-black">Áreas de Atuação</h2>
    </div>

    <div class="flex flex-col md:grid md:grid-cols-2 xl:grid xl:grid-cols-3 gap-5 items-center">
      <ServicesCard
        icon={Scale}
        title="Direito Previdenciário"
        text="Planejamento e concessão de benefícios do INSS com segurança e estratégia."
        link="https://wa.me/5531990004163?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas%20e%20agendar%20uma%20consulta%20sobre%20Direito%20Previdenci%C3%A1rio."
      />
      <ServicesCard
        icon={Briefcase}
        title="Direito Trabalhista"
        text="Garantimos direitos trabalhistas e assessoramos em acordos e reclamações."
        link="https://wa.me/5531990004163?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas%20e%20agendar%20uma%20consulta%20sobre%20Direito%20Civil."
      />
      <ServicesCard
        icon={Users}
        title="Direito Civil"
        text="Soluções em divórcios, contratos, guarda e inventários de forma estratégica."
        link="https://wa.me/5531990004163?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas%20e%20agendar%20uma%20consulta%20sobre%20Direito%20Civil."
      />
      <ServicesCard
        icon={Gavel}
        title="Direito Criminal"
        text="Atuação em processos criminais com ética, estratégia e proteção aos clientes."
        link="https://wa.me/5531990004163?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas%20e%20agendar%20uma%20consulta%20sobre%20Direito%20Criminal."
      />
      <ServicesCard
        icon={ShoppingCart}
        title="Direito do Consumidor"
        text="Defesa de direitos em relações de consumo, garantindo justiça e segurança."
        link="https://wa.me/5531990004163?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas%20e%20agendar%20uma%20consulta%20sobre%20Direito%20do%20Consumidor."
      />
      <ServicesCard
        icon={HandCoins}
        title="Direito Tributário"
        text="Consultoria e defesa em questões fiscais e tributárias com clareza e eficiência."
        link="https://wa.me/5531990004163?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas%20e%20agendar%20uma%20consulta%20sobre%20Direito%20Tribut%C3%A1rio."
      />
    </div>
  </div>
</section>
